<template>
    <div class="wone-main-container">
        <section class="admin-info-out-box">
            <div class="admin-info-title" >관리자 정보 설정</div>
            <i class="admin-info-inner-box">
                <div class="admin-info-box" >
                    <el-input disabled placeholder="관리자" v-model="username">
                        <template slot="prepend"><i class="name">이름</i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input disabled placeholder="admin" v-model="userId">
                        <template slot="prepend"><i class="admin-id">아이디
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input disabled placeholder="*********" v-model="password" show-password>
                        <template slot="prepend"><i class="admin-password">비밀번호
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input disabled placeholder="admin@gmail.com" v-model="email">
                        <template slot="prepend"><i class="admin-email">이메일
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-button">
                    <el-button class="update-button"  @click="update"><i class="update-button-text">수정</i></el-button>
<!--                    <el-button class="ok-button" @click="commit"><i class="update-ok-text">확인</i></el-button>-->
                </div>
            </i>
        </section>
        <section class="footer-info-out-box">
            <div class="footer-info-title">푸터 정보 설정</div>
            <i class="footer-inner-box">
                <div class="footer-info-box">
                    <el-input disabled placeholder="WONE" v-model="companyName">
                        <template slot="prepend"><i class="company-name">회사명</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input disabled placeholder="김대표" v-model="bossName">
                        <template slot="prepend"><i class="ceo-name">대표자 이름</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input disabled placeholder="031-123-4567" v-model="cellNumber">
                        <template slot="prepend"><i class="call-number">전화번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input disabled placeholder="경기도 안산시 단원구 고잔동 123" v-model="address">
                        <template slot="prepend"><i class="address">주소</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input disabled placeholder="123-45-678" v-model="businessNumber">
                        <template slot="prepend"><i class="business-number">사업자 번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input disabled placeholder="Copyright(c) WONE All right reserved" v-model="copyright">
                        <template slot="prepend"><i class="copyright">Copyright</i></template>
                    </el-input>
                </div>
                <div class="footer-info-button">
                    <el-button class="update-button" @click="update"><i class="update-button-text">수정</i></el-button>
<!--                    <el-button class="ok-button" @click="commit"><i class="update-ok-text">확인</i></el-button>-->
                </div>
            </i>
        </section>
    </div>
</template>


<script>
export default {
    data () {
        return {
            size: '',
            input:'',
            username:'',
            userId:'',
            password:'',
            email:'',
            companyName:'',
            bossName:'',
            cellNumber:'',
            address:'',
            businessNumber:'',
            copyright:'',
        };
    },
    computed:{
    },
    methods: {
        update() {
            this.$confirm('수정하시겠습니까?', 'Check', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('admin-info-change')
            });
        },
        // commit() {
        //     this.$alert('수정되었습니다.', {
        //         confirmButtonText: 'OK',
        //         type: 'info'
        //     }).then(() => {
        //         this.$message({
        //             type: 'success',
        //             message: '수정 완료'
        //         });
        //     });
        // },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'ADMIN_INFO')
    }
}
</script>
