<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">문의사항</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        ref="multipleTable"
                        :data="faqData"
                        :default-sort = "{property: 'askCreateDate', order: 'descending'}"
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <el-table-column
                            type="selection"
                            width="55">
                        </el-table-column>
                        <el-table-column
                            sortable
                            property="id"
                            label="No."
                            width="80">
                        </el-table-column>
                        <el-table-column
                            sortable
                            property="askCreateDate"
                            label="등록일자"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="memberName"
                            label="사용자명"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            property="publicType"
                            label="공개여부"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            property="askContent"
                            label="문의내용"
                            width="360">
                        </el-table-column>
                        <el-table-column
                            property="comment"
                            label="문의답변">
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <el-pagination class="page-number"
                        small
                        layout="prev, pager, next"
                        :total="50">
                    </el-pagination>
                    <div class="board-button">
                        <el-button class="board-update-button" @click="update"><i class="board-update-button-text">수정</i></el-button>
                        <el-button class="board-ok-button" @click="drop"><i class="board-ok-text">삭제</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
export default {
    data() {
        return {
            search:'',
            faqData: []
        }
    },
    methods: {
        getFaqList() {
            this.$store.dispatch(this.$faqConstants.DO_FAQ_LIST)
                .then((res) => {
                    this.faqData = res.data.list
                    console.log(res.data.list)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        update() {
            this.$confirm('해당 글을 수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('board-answer');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        drop() {
            this.$confirm('해당 글을 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
        },
    },
    created() {
        this.getFaqList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_ASK')
    }
}
// export const tableData = (str, length = 10) => {
//     let result = '';
//     if (str.length > length) {
//         result = str.substr(0, length - 2) + '...';
//     } else {
//         result = str;
//     }
//     return result;
// };
//
// tableData('카드 설정 후 메인 카드 변경이\n안되네요 확인해주세요')
</script>
