<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
<!--            <div class="board-contents-register-title">이용방법</div>-->
<!--            <div class="board-title">제목</div>-->
<!--            <el-input class="contents-input-box"-->
<!--                      type="text"-->
<!--                      :rows="1"-->
<!--                      placeholder="제목을 입력해주세요."-->
<!--                      v-model="textTitle"-->
<!--                      maxlength="40"-->
<!--                      show-word-limit-->
<!--            >-->
<!--            </el-input>-->
<!--            <div class="board-title">안내</div>-->
<!--            <el-input class="contents-input-box"-->
<!--                      type="textarea"-->
<!--                      :rows="17"-->
<!--                      placeholder=""-->
<!--                      v-model="textarea2">-->
<!--            </el-input>-->
<!--            <div class="board-contents-register-button">-->
<!--                <el-button class="board-contents-register-update-button" @click="update"><i class="board-contents-register-update-button-text">수정</i></el-button>-->
<!--                <el-button class="board-contents-register-button" @click="create"><i class="board-contents-register-text">등록</i></el-button>-->
<!--            </div>-->
            <div class="board-contents-register-title">이용방법</div>
            <el-form :model="guideForm" :rules="guideRules" ref="guideForm">
                <div class="board-title">제목</div>
                <el-input class="contents-input-box"
                          type="text"
                          :rows="1"
                          placeholder="제목을 입력해주세요."
                          v-model="guideForm.textTitle"
                          maxlength="40"
                          show-word-limit
                >
                </el-input>
                <div class="board-title">안내</div>
                <el-input class="contents-input-box"
                          type="textarea"
                          :rows="17"
                          placeholder=""
                          v-model="guideForm.textarea1">
                </el-input>
                <div class="board-contents-register-button">
                    <el-button class="board-contents-register-button" @click="create"><i class="board-contents-register-text">등록</i></el-button>
                </div>
            </el-form>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            guideForm : {
                textTitle : '',
                textarea1 : '',
            },
            guideRules : {
              textTitle : [
                  { require : true, message : '이 값은 필수입니다.', trigger : 'blur'},
                  { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'},
              ],
                textarea1: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        // create() {
        //     this.$confirm('등록하시겠습니까?', {
        //         confirmButtonText: 'Ok',
        //         cancelButtonText: 'Cancel',
        //         type: 'warning'
        //     })
        //     .then(() => {
        //         this.$router.replace('board-guide');
        //     })
        //     .catch(() => {
        //         this.$message({
        //             type: 'info',
        //             message: '취소되었습니다.'
        //         });
        //     });
        // },
        create() {
            const formName = 'guideForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
          const payload = {
              textTitle : this.guideForm.textTitle,
              textarea1 : this.guideForm.textarea1,
          }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_CREATE_NOTICE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`board-guide`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
