<template>
    <div class="wone-main-container">
        <section class="board-contents-register" v-if="detailInfo != null">
            <div class="board-contents-register-title">공지사항</div>
            <div class="board-title" >
                공지 제목
            </div>
            <el-input class="contents-input-box"
                      type="textarea"
                      :rows="1"
                      placeholder=""
                      v-model="textarea1"
            >
            </el-input>
            <div class="board-title">공지 내용</div>
            <el-input class="contents-input-box"
                      type="textarea"
                      :rows="17"
                      placeholder=""
                      v-model="textarea2"
            >
            </el-input>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-update-button" @click="update"><i class="board-contents-register-update-button-text">수정</i></el-button>
                <el-button class="board-contents-register-button" @click="create"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return{
            textarea1:'',
            textarea2:'',
            detailNotice:[]
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_NOTICE_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailNotice = res.data.data

                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)

                })
        },
        create() {
            this.$confirm('등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-notice');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        update() {
            this.$confirm('해당 내용으로 수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-notice');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
